
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Clases unicamente utilizadas en bootstrap - index y barra de navegacion */

.barra {
    background-color: bisque;
}

.bsitemnav:hover {
    color: beige !important;
    background-color: brown;

}


