

footer {
  padding: 1em 0;
  background-color: mediumaquamarine;
  text-align: center;
  margin-top: auto;
}




/* Footer - Contenedor redes sociales  - pre bootstrap

.rrss {
    background-color: beige;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    animation: changeColor 4s;
    animation-iteration-count: infinite;

  }

.rrss-container {
    display: flex;
    flex-direction: column;

}


.warapp {
    position: initial;
    transition: all, 2s;
    
}

.warapp:hover {
    transform: translate(-20px, 10px);
}
*/